body{
    /*여백 지우기*/
    margin: 0px;
    padding: 0px;
    
    background-color: #fff;
    overflow-x: hidden;
    letter-spacing: -0.05em
}

#languageTbl{
   border-spacing: 0px;
    width: 100%;
    background-color: #f49bba;
    height: 30px;
}

.languageTbl_td1{
    width: 80px;
    text-align: center;
}
#languageTbl a{
    color: white;
    font-size: 10pt;
    font-weight: 900;
    font-family: 'Nanum Gothic';
    text-decoration: none;
}

#languageTbl a:hover{
 cursor: pointer;
}

#titleTbl{
    width: 100%;
    height: 100px;
}

.titleTbl_td1{
    width: 110px;
    text-align: center;
}


#titleTbl a{
    color: #4a4a4a;
    font-size: 13pt;
    font-weight: 900;
    text-decoration: none;
    
}


.titleTbl_td2{
    font-size: 30pt;
    width: 300px;
    padding-left: 80px;
    font-weight: bold;
    font-style: italic;
}

input{
    width: 195px;
    height: 40px;
    background-color: rgb(239, 239, 239);
    background-image: url(search.png);
    background-position: 5px;
    background-size: 40px;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-top: 5px;
    border-radius: 30px;
    border: none;
    font-size: 10pt;
    font-weight: 500;
    color: #a1a1a1;
}

.titleTbl_input{
    width: 450px;
}

#containerTbl{
    width: 1600px;
height: 600px;
}

#containerTbl img{
    width: auto;
    height: 600px;
    object-fit: over;
    margin-left: -130px;
}

#slider{
    transition: transform 0.5s;
}

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  #bannerTbl{
    border-collapse: collapse;
    border: 0.1px;
    border-style: solid;
    padding: 0 0 0 0;
    border-color: #444;
    text-align: center;
    width: 75px;
    height: 400px;
    position: fixed;
    left: 1550px;
    top: 200px;
    background-color: white;
}
#banner_side{
    height: 40px;
    background-color: #444;
}

#banner_content img{
    width: 80%;
    height: 40px;
    object-fit: cover;
}

#banner_content {
    border-collapse: collapse;
    border: 0.1px solid;
}

#bannerTbl a{
    font-size: 11px;
    color: #444;
    text-decoration: none;
}

#buttonTbl{
    width: 155px;
    margin-left: auto;
    margin-right: auto;
}

#buttonTbl button{
    border: none;
    background-color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#buttonTbl img{
    width: 28px;
    height: 28px;
    object-fit: cover;
}

  #newNBestTbl{
      width: 1200px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
  }

  .newNBestTbl_title{
      font-size: 13pt;
      font-weight: 600;
      font-family: 'Apple-Gothic';
      text-decoration: underline;
      text-underline-position: under;
      padding-bottom: 20px;
  }
  
  #newNBestTbl img{
      width: 230px;
  }

  #newNBestTbl img:hover{
      cursor: pointer;

  }

  .newNBestTbl_content{
      padding-top: 20px;
      font-weight: 500;
  }

  .newNBestTbl_content a{
      text-decoration: none;
  }

  .newNBestTbl_content a:visited{
      color: black;
  }

  .newNBestTbl_content a:hover{
      cursor: pointer;
      
  } 

  #periMoodTbl{
      width: 1500px;
      text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 200px;
  }

  .periMoodTbl_title{
      font-size: 13pt;
      font-weight: 400;
      text-decoration: underline;
      text-underline-position: under;
      padding-bottom: 20px;
  }

  #periMoodTbl img{
      width: 350px;
  }

  #periMoodTbl img:hover{
      cursor: pointer;
  }

  #videoTbl{
    margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
  }
  #videoTbl img:hover{
      cursor: pointer;
  }

  #snsTbl{
      width: 1210px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    }

    .snsTbl_title{
        text-align: center;
        font-size: 18pt;
        font-weight: 600;
        text-decoration: underline;
        text-underline-position: under;
        height: 80px;
        padding-top: 100px;
    }

    .snsTbl_content{
        width: 350px;
        height: 230px;
        padding-right: 8px;
        padding-bottom: 8px;
    }

  #snsTbl img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #familySiteTbl{
    color: #5f5f5f;
      width: 1680px;
      height: 50px;
      background-color: #ddd;
    }

.familySiteTbl_main{
    width: 90px;
    font-size: 10pt;
    letter-spacing: 1px;
    font-weight: 600;
    padding-left: 10px;
}

.familySiteTbl_img{
    width: 15px;
}

#familySiteTbl img{
    width: 13px;
}

  .familySiteTbl_menu{
      width: 460px;
    font-size: 10.5pt;
    text-align: right;
    padding-right: 30px;
    }
    

#infoTbl{
    color: #5c5c5c;
    width: 1680px;
    height: 80px;
    background-color: #fff;
}

.infoTbl_name{
    width: 150px;
    font-size: 20pt;
    font-weight: 600;
    font-style: italic;
}

.infoTbl_name img{
    width: 130px;
}

.infoTbl_addr{
    width: 400px;
    font-size: 10pt;
}

.infoTbl_call{
    width: 400px;
    text-align: right;
    padding-top: 20px;
    padding-left: 90px;
    padding-bottom: 20px;
}

.infoTbl_call_1{
 font-size: 16pt;
 font-weight: 600;
}

.infoTbl_call_1_color{
    font-size: 16pt;
    font-weight: 500;
    color: rgb(111, 0, 111);
}

.infoTbl_call_2{
    font-size: 10pt;
}